<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CarDealerDb"
			 connectionString="Data Source=mssqlstud.fhict.local;Initial Catalog=dbi568895_zlok1966;Persist Security Info=True;User ID=dbi568895_zlok1966;Password=zlok.1966;Trust Server Certificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
